*~
*.o
*.d
*.8.gz
cscope.out
acpid
acpi_listen
*.anjuta
.anjuta
.anjuta_sym_db.db
.depend
.deps
Makefile.in
Makefile
aclocal.m4
autom4te.cache
build-aux
config.h
config.h.in
config.log
config.status
configure
stamp-h1
