*~
*.o
*.d
*.8.gz
*.anjuta
.anjuta
.anjuta_sym_db.db
.cproject
.depend
.deps
.project
aclocal.m4
acpid
acpi_listen
autom4te.cache
build-aux
config.h
config.h.in
config.log
config.status
configure
cscope.out
kacpimon/kacpimon
Makefile.in
Makefile
stamp-h1

